body{
	background:#F8F8F8;
}

a:hover{
	text-decoration: none;
	color:#000;
}

.Stl_wrapper{
	background-color: #FFF;
	padding:2%; /* 15px */
	margin-bottom:2%; /* 15px */
	box-shadow: 100% 100% 200% #C3C3C3; /* 1px 1px 2px */
}

.navbar{
	background:#FFF;
}

.Stl_num1{
	color: #FF7C26;
	display: block;
}

.Stl_num2{
	color:#000;
	font-size:100%; /* 22px */
	text-decoration: none;
}

.Stl_num3{
	color:#727272;
	display: block;
}

.Stl_num4{
	color:#333;
	margin-right:100%; /* 10px */
}

.ver_mais{
	text-align: center;
	background:#FFF;
	padding:200%; /* 20px */
}